<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZkLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZkLauncher.Properties.Settings>
            <setting name="ViewerWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ViewerWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ViewerWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ViewerWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ControlPanelWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ControlPanelWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ControlPanelWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ControlPanelWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
        </ZkLauncher.Properties.Settings>
    </userSettings>
</configuration>